[2020-07-23 20:41] anjanarao24 opened #1 "FP Chatbot flow on Telegram from Welcome/Start to Request Medical Help flow"

[2020-07-23 20:47] anjanarao24 opened #2 "FP Chatbot flow on Telegram from Welcome/Start to Offer Help flow for Logged in User from Main menu"
**Use case 1A :** Offer help -->Grocery /Food for a Logged in User from Main menu

A. User invokes Main menu at any point with the command /Mainmenu
#3 FP Chatbot on Telegram- Main Menu flow [https://github.com/FightPandemics/FightPandemics-Telegram/issues/3](url)
User gets the Options to Select on the Screen :

-                                             Offer Help
-

[2020-07-23 20:48] anjanarao24 opened #3 "FP Chatbot on Telegram-Main menu flow"
User story: As a FP chatbot user, I want to be able to invoke the Main menu at any point inorder to see the different options for help, signout, login , About FP etc.

Use case : User invokes the Main menu using the Main menu command /Mainmenu  when he is logged in or not logged in to the chatbot app

User types the command /MainMenu at any point in the chatbot

User views different Main menu opti

[2020-07-23 20:49] anjanarao24 opened #4 "FP Chatbot on Telegram - View Posts flow"
**User Story 1** :  As a FightPandemics chatbot user, who is logged in I want to view all posts relevant to my criteria so I can select the most relevant ones to engage with.

**Use Case 1** :
- User navigates through Offer Help (https://github.com/FightPandemics/FightPandemics-Telegram/issues/2) or Receive Help (https://github.com/FightPandemics/FightPandemics-Telegram/issues/1) flows to get to p

[2020-07-23 20:51] anjanarao24 opened #5 "FP Chatbot on Telegram- Login integration and Signup flow"
**User Story**: As a FightPandemics chatbot user, if I am not logged in/signed up and if I am trying to View My Posts, View My Profile, Comment and See Comments, then I should be asked to Login/Signup along with an option to Skip.

As a user, once I login or sign up, I want to continue with what I had been doing before needing to login so that I can complete what I was trying to do (and don't get

[2020-07-23 20:52] anjanarao24 opened #6 "FP Chatbot on Telegram-Create Posts flow"
**User Story:** As a chatbot user, I should be able to create a post that is added to the Fight Pandemics Help Board so that I can contribute to the board without accessing the webapp.

**_- Use Case 1:_** Logged in user when clicks on "Create Post" button then the user should see a series of 4 messages from the bot one after other as per the user inputs in the order given as below along with butt

[2020-07-23 20:52] anjanarao24 opened #7 "FP Chatbot on Telegram- Comment on Posts flow"
**User Story:** As a FightPandemics chatbot user viewing a specific post, I want to be able to see comments on a post so that I better understand the content of the post and its engagements.

Use Case 1: See Comments on a Selected Post

- User selects the "See comments" button.
- User navigates through comments by tapping on forward and/or backward arrows.

**Wireframe:** https://miro.com/app/boar

[2020-07-23 20:56] anjanarao24 opened #8 "FP Chatbot on Telegram- Edit my Profile"
**User story:** As a FightPandemic chatbot user, I should be able to Edit my profile so that I can modify the details in my Profile that others can see.

**Use case 1 :** Edit Profile for a Logged in User

User invokes Main menu at any point with the command /Mainmenu #3
and selects View my profile

Where user should be able to see the following fields:
- Name
- Self Introduction
- Facebook URL
-

[2020-07-23 20:57] anjanarao24 opened #9 "FP Chatbot on Telegram- Signout flow"
**User story**: As a chatbot user, I want to be able to signout of my FP account at any time so that I can feel secure that no one else can access my account and I want to be able to confirm I'm signing out so I don't sign out by accident.

**Use case 1**: User invokes /Sign out command from Telegram menu or clicks on the "Sign Out" button. When they get the message "Are you sure you want to sign

[2020-07-23 20:57] anjanarao24 opened #10 "FP Chatbot on Telegram- View My Profile flow"
User story Goal : As a FightPandemic chatbot user, I should be able to View my profile so that I can see my Profile information to be able to edit it if necessary

1. Use case 1 : View Profile for a Logged in User
User invokes Main menu at any point with the command /Mainmenu
#3 FP Chatbot on Telegram- Main Menu flow [https://github.com/FightPandemics/FightPandemics-Telegram/issues/3](url)
User ge

[2020-07-24 16:54] anjanarao24 opened #11 "FP Chatbot on Telegram- View Author Profile flow"
**User Story:** As a FightPandemics chatbot user viewing a specific post, I want to be able to view the author's profile so I can connect with them and learn more about them.

**Use Case 1:**  View Author Profile on a Selected Post
- User navigates through View Post User Story (https://github.com/FightPandemics/FightPandemics-Telegram/issues/4) and receives results of posts.
- User views post resu

[2020-07-27 05:22] natashanainani commented on #7
**User Story:** As a FightPandemics chatbot user viewing a specific post, I want to be able to comment on a post so that I can inquire into the offered help and/or express interest in receiving it.

**Use Case 1:** Comment on a Selected Post for a Logged in User
- User selects the "Comment" button.
- User is taken to the "Please type your comment" screen, where they can write their comment.
- User

[2020-07-27 05:48] natashanainani commented on #7
User Story: As a FightPandemics chatbot user viewing a specific post, I want to be able to see comments on a post so that I better understand the content of the post and its engagements, and respond accordingly.

Use Case 1: See Comments on a Selected Post
- User selects the "See comments" button.
- User navigates through comments by tapping on forward and/or backward arrows.

![image](https://use

[2020-07-27 06:04] natashanainani commented on #7
User Story: As a FightPandemics chatbot user viewing comments on a specific post, I want to be able to comment on a post after reading other users' comments on the post so that my comment is well-informed.

Use Case 1: Comment on a Selected Post for a Logged in User
- User selects the "Comment" button after seeing comments on a specific post.
- User is taken to the "Write your comment below" scree

[2020-07-27 15:15] anjanarao24 commented on #1
User story Goal : As a FightPandemic chatbot user, I should be able to Request Help so that I can get help regarding Medical or Other help I have to be met/fulfilled

**Use case 1:**Request Medical help on Logging in
A. User is greeted with a Welcome message on Logging in and is asked to choose if he would like to Request Help or Offer help
**Wireframe:**
https://miro.com/app/board/o9J_kp0wo_Y=/?m

[2020-07-27 15:37] anjanarao24 commented on #1
**Use case 2 :** Request Medical help for a Logged in User from Main menu

A. User invokes Main menu at any point with the command /Mainmenu
#3 FP Chatbot on Telegram- Main Menu flow [https://github.com/FightPandemics/FightPandemics-Telegram/issues/3](url)
User gets the Options to Select on the Screen :

-                                             Restart offer Help
-

[2020-07-27 15:39] anjanarao24 commented on #1
**Use case 3 :** Request Medical help for a non Logged in User (User can Seek Medical help even if not Logged in)
A. User invokes Main menu at any point with the command /Mainmenu
#3 FP Chatbot on Telegram- Main Menu flow [https://github.com/FightPandemics/FightPandemics-Telegram/issues/3](url)
User gets the Options to Select on the Screen :

-                                             Restart o

[2020-07-27 15:40] anjanarao24 commented on #1
**Use case 4A**:Request Other help on Logging in --> Grocery /Food help
A. User is greeted with a Welcome message on Logging in and is asked to choose if he would like to Request Help or Offer help
**Wireframe:**
https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=3074457348990834688&cot=3

B. User Taps to select "Request Help"
**Wireframe:**
https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget

[2020-07-27 15:43] anjanarao24 commented on #1
Use case 4B:Request Other help on Logging in --> Medical/Supplies
A. User is greeted with a Welcome message on Logging in and is asked to choose if he would like to Request Help or Offer help
Wireframe:
https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=3074457348990834688&cot=3
B. User Taps to select "Request Help"
Wireframe:
https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=30744573489680

[2020-07-27 15:45] anjanarao24 commented on #1
Use case 4C:Request Other help on Logging in --> Funding /Donate
A. User is greeted with a Welcome message on Logging in and is asked to choose if he would like to Request Help or Offer help
Wireframe:
https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=3074457348990834688&cot=3
B. User Taps to select "Request Help"
Wireframe:
https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=307445734896801

[2020-07-27 15:47] anjanarao24 commented on #1
Use case 4D:Request Other help on Logging in --> Well-Being /Mental
A. User is greeted with a Welcome message on Logging in and is asked to choose if he would like to Request Help or Offer help
Wireframe:
https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=3074457348990834688&cot=3
B. User Taps to select "Request Help"
Wireframe:
https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=307445734896

[2020-07-27 15:48] anjanarao24 commented on #1
Use case 4E:Request Other help on Logging in --> Information
A. User is greeted with a Welcome message on Logging in and is asked to choose if he would like to Request Help or Offer help
Wireframe:
https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=3074457348990834688&cot=3
B. User Taps to select "Request Help"
Wireframe:
https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=3074457348968012488

[2020-07-27 15:49] anjanarao24 commented on #1
Use case 4E:Request Other help on Logging in --> Technology
A. User is greeted with a Welcome message on Logging in and is asked to choose if he would like to Request Help or Offer help
Wireframe:
https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=3074457348990834688&cot=3
B. User Taps to select "Request Help"
Wireframe:
https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=3074457348968012488&

[2020-07-27 15:50] anjanarao24 commented on #1
Use case 4E:Request Other help on Logging in --> Legal
A. User is greeted with a Welcome message on Logging in and is asked to choose if he would like to Request Help or Offer help
Wireframe:
https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=3074457348990834688&cot=3
B. User Taps to select "Request Help"
Wireframe:
https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=3074457348968012488&cot=3

[2020-07-27 15:50] anjanarao24 commented on #1
Use case 4E:Request Other help on Logging in --> Education
A. User is greeted with a Welcome message on Logging in and is asked to choose if he would like to Request Help or Offer help
Wireframe:
https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=3074457348990834688&cot=3
B. User Taps to select "Request Help"
Wireframe:
https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=3074457348968012488&c

[2020-07-27 15:52] anjanarao24 commented on #1
Use case 4E:Request Other help on Logging in --> Business
A. User is greeted with a Welcome message on Logging in and is asked to choose if he would like to Request Help or Offer help
Wireframe:
https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=3074457348990834688&cot=3
B. User Taps to select "Request Help"
Wireframe:
https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=3074457348968012488&co

[2020-07-27 15:54] anjanarao24 commented on #1
**Use case 5 :** Request Other help for a Logged in User from Main menu

[2020-07-27 15:54] anjanarao24 commented on #1
**Use case 6 :** Request Other help for a non Logged in User

[2020-07-27 17:27] omerkhan3 commented on #4
**User Story 2** : As a FightPandemics chatbot user who is logged in, I want to view a specific post from the list of results so I can engage with it and connect with the poster.

**Use Case 1**:
- User navigates through User Story #1 (https://github.com/FightPandemics/FightPandemics-Telegram/issues/4).
- User selects a specific post on the feed by select "View Post".

**Wireframe**:
![image](http

[2020-07-27 19:44] anjanarao24 opened #12 "FP Chatbot flow on Telegram from Welcome/Start to Request Other Help flow on User Logging in"
**Use case 1A**:Request Other help on Logging in --> Grocery /Food help
A. User is greeted with a Welcome message on Logging in :
"Fightpandemics is a community where people offer and request help.
You can view community postings, respond to posts, create a post or check out others' profiles.
What would you like to do?"

and is asked to choose if he would like to **Request Help** or **Offer help**

[2020-07-27 19:44] anjanarao24 commented on #12
Use case 4B:Request Other help on Logging in --> Medical/Supplies
A. User is greeted with a Welcome message on Logging in and is asked to choose if he would like to Request Help or Offer help
Wireframe:
https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=3074457348990834688&cot=3
B. User Taps to select "Request Help"
Wireframe:
https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=30744573489680

[2020-07-27 19:45] anjanarao24 commented on #12
Use case 4C:Request Other help on Logging in --> Funding /Donate
A. User is greeted with a Welcome message on Logging in and is asked to choose if he would like to Request Help or Offer help
Wireframe:
https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=3074457348990834688&cot=3
B. User Taps to select "Request Help"
Wireframe:
https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=307445734896801

[2020-07-27 19:45] anjanarao24 commented on #12
**Use case 1C:**Request Other help on Logging in -->Medical supplies

**Use case 1C:**Request Other help on Logging in --> Funding /Donate

**Use case 1D**:Request Other help on Logging in --> Well-Being /Mental

Use case 1E:Request Other help on Logging in --> Information

Use case 1F:Request Other help on Logging in --> Technology

Use case 1G:Request Other help on Logging in --> Legal

Use case

[2020-07-27 19:46] anjanarao24 commented on #12
Use case 4E:Request Other help on Logging in --> Information
A. User is greeted with a Welcome message on Logging in and is asked to choose if he would like to Request Help or Offer help
Wireframe:
https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=3074457348990834688&cot=3
B. User Taps to select "Request Help"
Wireframe:
https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=3074457348968012488

[2020-07-27 19:46] anjanarao24 commented on #12
Use case 4E:Request Other help on Logging in --> Technology
A. User is greeted with a Welcome message on Logging in and is asked to choose if he would like to Request Help or Offer help
Wireframe:
https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=3074457348990834688&cot=3
B. User Taps to select "Request Help"
Wireframe:
https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=3074457348968012488&

[2020-07-27 19:46] anjanarao24 commented on #12
Use case 4F:Request Other help on Logging in --> Legal
A. User is greeted with a Welcome message on Logging in and is asked to choose if he would like to Request Help or Offer help
Wireframe:
https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=3074457348990834688&cot=3
B. User Taps to select "Request Help"
Wireframe:
https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=3074457348968012488&cot=3

[2020-07-27 19:47] anjanarao24 commented on #12
Use case 4G:Request Other help on Logging in --> Education
A. User is greeted with a Welcome message on Logging in and is asked to choose if he would like to Request Help or Offer help
Wireframe:
https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=3074457348990834688&cot=3
B. User Taps to select "Request Help"
Wireframe:
https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=3074457348968012488&c

[2020-07-27 19:48] anjanarao24 commented on #12
Use case 4H: Request Other help on Logging in --> Business
A. User is greeted with a Welcome message on Logging in and is asked to choose if he would like to Request Help or Offer help
Wireframe:
https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=3074457348990834688&cot=3
B. User Taps to select "Request Help"
Wireframe:
https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=3074457348968012488&c

[2020-07-27 19:48] anjanarao24 commented on #12
**Use case 2 :** Request Other help for a Logged in User from Main menu

[2020-07-27 19:49] anjanarao24 commented on #12
**Use case 3 :** Request Other help for a non Logged in User

A. User invokes Main menu at any point with the command /Mainmenu
#3 FP Chatbot on Telegram- Main Menu flow [https://github.com/FightPandemics/FightPandemics-Telegram/issues/3](url)
User gets the Options to Select on the Screen :

-                                             Restart offer Help
-

[2020-07-27 20:05] anjanarao24 commented on #12
**Use case 3A :** Request Other help -->Grocery /Food for a Logged in User from Main menu

A. User invokes Main menu at any point with the command /Mainmenu
#3 FP Chatbot on Telegram- Main Menu flow [https://github.com/FightPandemics/FightPandemics-Telegram/issues/3](url)
User gets the Options to Select on the Screen :

-                                             Restart offer Help
-

[2020-07-27 20:07] anjanarao24 commented on #12
**Use case 3B :** Request Other help -->Medical supplies for a Logged in User from Main menu

A. User invokes Main menu at any point with the command /Mainmenu
#3 FP Chatbot on Telegram- Main Menu flow [https://github.com/FightPandemics/FightPandemics-Telegram/issues/3](url)
User gets the Options to Select on the Screen :

-                                             Restart offer Help
-

[2020-07-27 20:09] anjanarao24 commented on #12
**Use case 3B :** Request Other help -->Funding/Donate for a Logged in User from Main menu

A. User invokes Main menu at any point with the command /Mainmenu
#3 FP Chatbot on Telegram- Main Menu flow [https://github.com/FightPandemics/FightPandemics-Telegram/issues/3](url)
User gets the Options to Select on the Screen :

-                                             Restart offer Help
-

[2020-07-27 20:10] anjanarao24 commented on #12
**Use case 3D :** Request Other help -->Well-Being/Mental for a Logged in User from Main menu

A. User invokes Main menu at any point with the command /Mainmenu
#3 FP Chatbot on Telegram- Main Menu flow [https://github.com/FightPandemics/FightPandemics-Telegram/issues/3](url)
User gets the Options to Select on the Screen :

-                                             Restart offer Help
-

[2020-07-27 20:12] anjanarao24 commented on #12
**Use case 3E :** Request Other help -->Information for a Logged in User from Main menu

A. User invokes Main menu at any point with the command /Mainmenu
#3 FP Chatbot on Telegram- Main Menu flow [https://github.com/FightPandemics/FightPandemics-Telegram/issues/3](url)
User gets the Options to Select on the Screen :

-                                             Restart offer Help
-

[2020-07-27 20:15] anjanarao24 commented on #12
**Use case 3F :** Request Other help -->Technology for a Logged in User from Main menu

A. User invokes Main menu at any point with the command /Mainmenu
#3 FP Chatbot on Telegram- Main Menu flow [https://github.com/FightPandemics/FightPandemics-Telegram/issues/3](url)
User gets the Options to Select on the Screen :

-                                             Restart offer Help
-

[2020-07-27 20:16] anjanarao24 commented on #12
**Use case 3G :** Request Other help -->Legal for a Logged in User from Main menu

A. User invokes Main menu at any point with the command /Mainmenu
#3 FP Chatbot on Telegram- Main Menu flow [https://github.com/FightPandemics/FightPandemics-Telegram/issues/3](url)
User gets the Options to Select on the Screen :

-                                             Restart offer Help
-

[2020-07-27 20:17] anjanarao24 commented on #12
**Use case 3H :** Request Other help -->Education for a Logged in User from Main menu

A. User invokes Main menu at any point with the command /Mainmenu
#3 FP Chatbot on Telegram- Main Menu flow [https://github.com/FightPandemics/FightPandemics-Telegram/issues/3](url)
User gets the Options to Select on the Screen :

-                                             Restart offer Help
-

[2020-07-27 20:18] anjanarao24 commented on #12
**Use case 3I :** Request Other help -->Business or a Logged in User from Main menu

A. User invokes Main menu at any point with the command /Mainmenu
#3 FP Chatbot on Telegram- Main Menu flow [https://github.com/FightPandemics/FightPandemics-Telegram/issues/3](url)
User gets the Options to Select on the Screen :

-                                             Restart offer Help
-

[2020-07-27 20:32] anjanarao24 commented on #8
User story Goal : As a FightPandemic chatbot user, I should be able to Edit my profile so that I can modify the details in my Profile

1. Use case 1 : Edit Profile for a Logged in User
User invokes Main menu at any point with the command /Mainmenu
#3 FP Chatbot on Telegram- Main Menu flow [https://github.com/FightPandemics/FightPandemics-Telegram/issues/3](url)
User gets the Options to Select on t

[2020-07-28 05:41] emtay commented on #9
A. User invokes Main menu at any point with the command /Mainmenu or can go directly to /Signout
#3 FP Chatbot on Telegram- Main Menu flow https://github.com/FightPandemics/FightPandemics-Telegram/issues/3

User gets the Options to Select on the Screen :
/Restart offer Help
/Restart Request Help
/Login/Signup
/View My Profile
/View My Posts
/Signout
/About FightPandemics

User selects /Signout

Us

[2020-07-28 14:33] tejasm2 commented on #6
**User Story:** As a chatbot user, I should be able to create a post.

**_- Use Case 1:_** Logged in user when clicks on "Create Post" button then the user should see the following message along with buttons (Create Post Main Message):

 "Please tap on the following options to fill in the post information"
1a: Type of Help
1b: Title
1c: Description
1d: Tags
1e: Visibility
1f: Duration
1g: Preview

[2020-07-28 18:53] emtay opened #13 "FP Chatbot on Telegram- View my posts/Edit my posts"
**User Story 1: View my posts**

As a FightPandemics chatbot user, I want to view all my posts so I can review what I have posted and make edits if anything is wrong or could be improved.

1. Use Case 1: Multiple posts

User engages with the Main Menu and selects "View my posts" (https://github.com/FightPandemics/FightPandemics-Telegram/issues/4)
User will then see all their posts in most recent o

[2020-07-28 20:30] anjanarao24 commented on #12
**Use case 3A :** Request Other help-->Grocery /Food for a non Logged in User

A. User invokes Main menu at any point with the command /Mainmenu
#3 FP Chatbot on Telegram- Main Menu flow [https://github.com/FightPandemics/FightPandemics-Telegram/issues/3](url)
User gets the Options to Select on the Screen :

-                                             Restart offer Help
-

[2020-07-28 20:33] anjanarao24 commented on #12
**Use case 3B :** Request Other help -->Medical supplies for a Logged in User from Main menu

A. User invokes Main menu at any point with the command /Mainmenu
#3 FP Chatbot on Telegram- Main Menu flow [https://github.com/FightPandemics/FightPandemics-Telegram/issues/3](url)
User gets the Options to Select on the Screen :

-                                             Restart offer Help
-

[2020-07-28 20:34] anjanarao24 commented on #12
**Use case 2C :** Request Other help -->Funding/Donate for a Non Logged in User from Main menu

A. User invokes Main menu at any point with the command /Mainmenu
#3 FP Chatbot on Telegram- Main Menu flow [https://github.com/FightPandemics/FightPandemics-Telegram/issues/3](url)
User gets the Options to Select on the Screen :

-                                             Restart offer Help
-

[2020-07-28 20:38] anjanarao24 commented on #12
**Use case 3D :** Request Other help -->Well-Being/Mental for a Non Logged in User from Main menu

A. User invokes Main menu at any point with the command /Mainmenu
#3 FP Chatbot on Telegram- Main Menu flow [https://github.com/FightPandemics/FightPandemics-Telegram/issues/3](url)
User gets the Options to Select on the Screen :

-                                             Restart offer Help
-

[2020-07-28 20:39] anjanarao24 commented on #12
**Use case 3F :** Request Other help -->Technology for a Non Logged in User from Main menu

A. User invokes Main menu at any point with the command /Mainmenu
#3 FP Chatbot on Telegram- Main Menu flow [https://github.com/FightPandemics/FightPandemics-Telegram/issues/3](url)
User gets the Options to Select on the Screen :

-                                             Restart offer Help
-

[2020-07-28 20:40] anjanarao24 commented on #12
**Use case 3G :** Request Other help -->Legal for a Non Logged in User from Main menu

A. User invokes Main menu at any point with the command /Mainmenu
#3 FP Chatbot on Telegram- Main Menu flow [https://github.com/FightPandemics/FightPandemics-Telegram/issues/3](url)
User gets the Options to Select on the Screen :

-                                             Restart offer Help
-

[2020-07-28 20:41] anjanarao24 commented on #12
**Use case 3H :** Request Other help -->Education for a Non Logged in User from Main menu

A. User invokes Main menu at any point with the command /Mainmenu
#3 FP Chatbot on Telegram- Main Menu flow [https://github.com/FightPandemics/FightPandemics-Telegram/issues/3](url)
User gets the Options to Select on the Screen :

-                                             Restart offer Help
-

[2020-07-28 20:42] anjanarao24 commented on #12
**Use case 3I :** Request Other help -->Business or a Non Logged in User from Main menu

A. User invokes Main menu at any point with the command /Mainmenu
#3 FP Chatbot on Telegram- Main Menu flow [https://github.com/FightPandemics/FightPandemics-Telegram/issues/3](url)
User gets the Options to Select on the Screen :

-                                             Restart offer Help
-

[2020-07-29 14:23] anjanarao24 opened #14 "FP Chatbot on Telegram- View and Edit account settings"
User story Goal : As a FightPandemic chatbot user, I should be able to View and edit my account settings so that I can decide what details to maintain in my account

1. Use case 1 : View and Edit account settings for a Logged in User
User invokes Main menu at any point with the command /Mainmenu
#3 FP Chatbot on Telegram- Main Menu flow [https://github.com/FightPandemics/FightPandemics-Telegram/is

[2020-07-30 04:26] omerkhan3 commented on #5
### API Integration
**Login**: POST  _/api/auth/login_
**Signup**:  POST _/api/auth/signup_

[2020-07-30 04:29] omerkhan3 commented on #13
### API Integration
**View Posts:** GET _/api​/posts​/_  -    Author ID request parameter to corresponding logged in user.
**Edit Posts:**  POST _/api/posts/{postId}_  -   Get Post ID from previous View All Posts call and cache for usage.

[2020-07-30 04:31] omerkhan3 commented on #10
### API Integration
**​View My Profile** - GET  _/api​/users​/current_
**Updae My Profile** - PATCH _/api/users/current_

[2020-07-30 04:32] omerkhan3 commented on #11
### API Integration
**Author Profile Info**:  GET _/api​/users​/{userId}_   - received in post information in response from API.

[2020-07-30 04:35] omerkhan3 commented on #7
### API Integration
**Get Comments For a Post:** GET _/api/posts/{postId}/comments_
**Post New Comment on a Post:**  POST _/api/posts/{postId}/comments_
**Delete a Comment on a Post:**  DELETE _​/api​/posts​/{postId}​/comments​/{commentId}_
**Update a Comment on a Post:**  PATCH  _​_/api​/posts​/{postId}​/comments​/{commentId}

[2020-07-30 05:38] emtay commented on #14
Hi @anjanarao24 , not sure if you're done with this yet. Couple comments/reminders:
1. We discussed having a single main menu- so not having to login vs. not logged in versions. (If users are not logged in, they first have to go to login workflow to login/sign up)

2. Do you think we need to build out screens and be explicit about what happens when the users tries to edit any of the following?
Fir

[2020-07-30 05:41] emtay commented on #11
@anjanarao24  looks good. only thing missing in description is Github-added below.

User can see:

Author's Name
Author's Self Introduction
Author's Facebook URL
Author's LinkedIn URL
Author's Twitter URL
**Author's Github URL**
Author's Personal Website

[2020-07-30 05:54] emtay commented on #8
@anjanarao24 same callout as View/Edit account settings for the Main menu (logged in vs. not logged in).

But one other thought on Edit Profile is what are the buttons once the user completes updating their profile? This was an idea i had for the end of "Deleting Posts"- encourage creating post or going to main menu where they can start a search?
![image](https://user-images.githubusercontent.com/

[2020-07-30 05:57] emtay commented on #1
Story blocked until Medical Flow working on Web Platform

[2020-07-30 13:10] tejasm2 commented on #5
**User Story:** As a FightPandemics chatbot user, if I am not logged in/signed up and if I am trying to View My Posts, View My Profile, Comment and See Comments, then I should be asked to Login/Signup along with an option to Skip.

**Use Case 1:** User taps on Login/Signup button.

When I tap on the login/signup button,
Then, the I should be redirected to FightPandemics [Login Page](https://fightp

[2020-07-30 14:28] anjanarao24 commented on #6
@tejasm2 Overall the Story looks good. Here are a few things that are missing or can be modified:

A. Please add the wireframes/links to the wireframe (the new set you created) in the story for better understanding

B. For the below scenario
"g:
When user taps on the "Preview" button,
Then the user should see the Post details filled along with a "Post" button,
When user clicks on "Post" button and

[2020-07-30 14:58] anjanarao24 commented on #4
@omerkhan3

**User story 1 Review comments:**

A. User navigates through Offer Help (#2) or Receive Medical Help (#1) or **Request Other Help  (#12)** flows to get to post results.
B.  Acceptance Criteria:

- User sees all relevant results OR sees no results. - _There is no description of the next action user can perform is he sees no results_
- Each result has a "View Post" option. - _The view po

[2020-07-30 18:33] anjanarao24 commented on #7
@natashanainani Here are my review comments on this set of stories :

User story 1 :
1. Please add wireframes as relevant to show the visual representation

User story 2 :
1. Please modify the flow to reflect the Non logged in User should be able to See comments as well. (This is an allowed functionality and he/she just cannot add a comment if not logged in)

User story 3 :
1. Please add wireframe

[2020-07-30 21:41] omerkhan3 commented on #4
### API Integration
**View Posts Feed:** GET _/api/posts/_   (by filter parameter)
**View Individual Post:** GET _/api/posts/{postId}_

[2020-07-30 21:43] omerkhan3 commented on #8
### API Integration
**Edit Profile:** PATCH _/api/users/current_

[2020-07-30 21:44] omerkhan3 commented on #6
### API Integration
**Create Post:** POST _/api/posts/_

[2020-07-31 12:46] tejasm2 commented on #6
Hey @anjanarao24 , I have made the said changes. Please check and let me know if any thing needs to be changed.

[2020-08-13 15:53] kumudchauhan commented on #3
I am working on the main menu implementation.

[2020-08-14 15:19] anjanarao24 opened #15 "FP Chatbot flow on Telegram from Welcome/Start to Request Other Help flow for Logged in User from Main menu"
**Use case 1A :** Request Other help -->Grocery /Food for a Logged in User from Main menu

A. User invokes Main menu at any point with the command /Mainmenu
#3 FP Chatbot on Telegram- Main Menu flow [https://github.com/FightPandemics/FightPandemics-Telegram/issues/3](url)
User gets the Options to Select on the Screen :

-                                             Restart offer Help
-

[2020-08-14 17:42] emtay commented on #10
**Completed incorporating** - @anjanarao24 Looks good except needs to be updated to the new screens. Also, remove the button screenshots so it's not confusing which is the right layout? Thanks!

[2020-08-14 17:54] emtay commented on #5
@tejasm2 sorry for not following up on this. story looked good! i moved it to the top description field so it didn't get lost. if it looks good, do you want to delete your comment with your original story? I also added the API integration so that it's together.

also, one question- for the skip flow, should the user go back to the page they were on instead of the main menu?

[2020-08-14 17:55] emtay commented on #5
@tejasm2 sorry for not following up on this. story looked good! i moved it to the top description field so it didn't get lost. if it looks good, do you want to delete your comment with your original story? I also added the API integration so that it's together.

also, one question- for the skip flow, should the user go back to the page they were on instead of the main menu?

[2020-08-14 18:02] emtay commented on #6
@tejasm2 we were going to consolidate the following into buttons with one "submit" or "done" button, right?

1d:
Given that user enters the Description of the post,
Then the user should see following message: "What type of help are you {Offering/Requesting} (choose all the relevant tags) ?" along with 12 checkbox buttons : (Medical Supplies, Groceries/Food, Business, Education, Legal, Wellbeing/Me

[2020-08-14 20:38] anjanarao24 commented on #15
**Use case 1B :** Request Other help -->Medical Supplies for a Logged in User from Main menu

A. User invokes Main menu at any point with the command /Mainmenu
#3 FP Chatbot on Telegram- Main Menu flow [https://github.com/FightPandemics/FightPandemics-Telegram/issues/3](url)
User gets the Options to Select on the Screen :

-                                             Restart offer Help
-

[2020-08-14 20:40] anjanarao24 commented on #15
**Use case 1C :** Request Other help -->Funding/Donate for a Logged in User from Main menu
Use case 1D : Request Other help -->Well-Being/Mental for a Logged in User from Main menu
Use case 1E : Request Other help -->Information for a Logged in User from Main menu
Use case 1F : Request Other help -->Technology for a Logged in User from Main menu
Use case 1G : Request Other help -->Legal for a Logg

[2020-08-14 20:46] anjanarao24 opened #16 "FP Chatbot flow on Telegram from Welcome/Start to Request Other Help flow for Non Logged in User from Main menu"
*Use case 1A :** Request Other help-->Grocery /Food for a non Logged in User (Non Logged in User flow is same as Logged in User flow until the point of Viewing posts, but he cannot Create posts or Comment and will be prompted to login for Creating posts/Comment)

A. User invokes Main menu at any point with the command /Mainmenu
#3 FP Chatbot on Telegram- Main Menu flow [https://github.com/FightPan

[2020-08-14 21:00] anjanarao24 commented on #16
*Use case 1B :** Request Other help-->Medical supplies for a non Logged in User (Non Logged in User flow is same as Logged in User flow until the point of Viewing posts, but he cannot Create posts or Comment and will be prompted to login for Creating posts/Comment)

A. User invokes Main menu at any point with the command /Mainmenu
#3 FP Chatbot on Telegram- Main Menu flow [https://github.com/Fight

[2020-08-14 21:04] anjanarao24 commented on #16
**Use case 1C:**Request Other help for non Logged in User from Main Menu --> Funding /Donate(Non Logged in User flow is same as Logged in User flow until the point of Viewing posts, but he cannot Create posts or Comment and will be prompted to login for Creating posts/Comment)

Use case 1D:Request Other help for non Logged in User from Main Menu --> Well-Being /Mental(Non Logged in User flow is sa

[2020-08-14 21:21] anjanarao24 commented on #4
User Story 3 : As a FightPandemics chatbot user, who is not logged in I want to view all posts relevant to my criteria so I can select the most relevant ones to engage with.

Use Case 1 :

User navigates through Offer Help (#2) or Receive Help (#1) flows to get to post results.
Wireframe:
image

Wireframe for the flow : [HERE](https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=30744573491211338

[2020-08-14 21:27] anjanarao24 commented on #4
User Story 4 : As a FightPandemics chatbot user who is not logged in, I want to view a specific post from the list of results so I can engage with it and connect with the poster.

Use Case 1:

User navigates through User Story #1 (#4).
User selects a specific post on the feed by select "View Post".
Wireframe: [HERE](https://miro.com/app/board/o9J_kp0wo_Y=/?moveToWidget=3074457349121106557&cot=1)

[2020-08-14 21:33] anjanarao24 opened #17 "FP Chatbot flow on Telegram from Welcome/Start to Offer Help flow for non Logged in User"
Offer help -->Grocery /Food or any other type for a Non Logged in User from Main menu

A. User invokes Main menu at any point with the command /Mainmenu
#3 FP Chatbot on Telegram- Main Menu flow [https://github.com/FightPandemics/FightPandemics-Telegram/issues/3](url)
User gets the Options to Select on the Screen :

-                                             Offer Help
-

[2020-08-16 04:42] CamilaArias commented on #13
I think it'd be better if we split this in "View my posts" and "Edit my post"

[2020-08-16 07:32] CamilaArias commented on #3
**Completed incorporating** : We haven't defined what "About" shows. We need a text for that, and figure out if we want to encourage any actions from the user at that point (like, volunteer, follow/like us on social media)

[2020-08-17 01:55] anjanarao24 commented on #2
**Use case 1B :** Offer help -->Medical Supplies for a Logged in User from Main menu

A. User invokes Main menu at any point with the command /Mainmenu
#3 FP Chatbot on Telegram- Main Menu flow [https://github.com/FightPandemics/FightPandemics-Telegram/issues/3](url)
User gets the Options to Select on the Screen :

-                                             Restart offer Help
-

[2020-08-17 01:56] anjanarao24 commented on #2
Use case 1C : Offer help -->Funding/Donate for a Logged in User from Main menu
Use case 1D : Offer help -->Well-Being/Mental for a Logged in User from Main menu
Use case 1E : Offer help -->Information for a Logged in User from Main menu
Use case 1F : Offer help -->Technology for a Logged in User from Main menu
Use case 1G : Offer help -->Legal for a Logged in User from Main menu
Use case 1H : Offe

[2020-08-17 17:14] emtay opened #19 "Get Code Base Set up"
As a dev team, we need start the environment for our telegram bot so that other engineers can contribute.

[2020-08-17 18:44] larryabim commented on #19
# Code Base Set up

As discussed today we need to set up an environment for us to start working on.

# Github
 I think from some of my minimal previous experience the team needs a structured workflow first of all with working with Github. This includes how to set up branches, pull requests, and requirements for merging code into master. Also, marking down for new users how exactly they should run

[2020-08-28 06:56] CamilaArias commented on #4
### Technical details
There are two big functions here, they are:
Show the result of the search (#4, User Story 1)
Show an specific post, chosen from the results (#4, User Story 2)

### User Story 1:
As seen on wireframes above, this is basically a message with a keyboard, and the user can interact in these ways:

- The click on a post and we move to User Story 2
- They click "Create post" and we

[2020-08-28 07:36] CamilaArias commented on #6
@anjanarao24 @tejasm2 @emtay
Regarding 1d:
This seems like a lot of messages in one go? they would go over the top of the screen (the buttons are a lot bigger than what the wireframe shows), and it might be confusing. Plus we wouldn't be taking advantage of the on-the-fly feature?
We also can't have a floating button, buttons are attached to messages. Confirming each step also means they won't mis

[2020-09-14 22:12] kumudchauhan commented on #19
For the environment setup, Please follow the instructions of the README file of the following link.
https://github.com/FightPandemics/FightPandemics-Telegram

[2020-09-28 00:56] todo[bot] opened #21 "rename."
https://github.com/FightPandemics/FightPandemics-Telegram/blob/c88833c1bef0293fef2e0e88d24c4f56be4094cf/setup.py#L9-L14

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in c88833c1bef0293fef2e0e88d24c4f56be4094cf when #20 was merged. cc @kumudchauhan.

[2020-09-28 00:56] todo[bot] opened #22 "typing."
https://github.com/FightPandemics/FightPandemics-Telegram/blob/c88833c1bef0293fef2e0e88d24c4f56be4094cf/setup.py#L14-L19

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in c88833c1bef0293fef2e0e88d24c4f56be4094cf when #20 was merged. cc @kumudchauhan.

[2020-09-28 00:58] #21 closed, assigned to kumudchauhan

[2020-09-28 00:58] #22 closed, assigned to kumudchauhan

[2020-09-28 00:59] kumudchauhan commented on #19
Merged my dev branch to the main repo's dev https://github.com/FightPandemics/FightPandemics-Telegram/tree/dev

[2021-01-25 15:57] AckslD opened #24 "Improve setup.py"
It's nicer to have the requirements in one place and we could load these from `requirements.txt` from `setup.py`.

[2021-01-25 16:10] AckslD opened #26 "Setup testing framework and CI"
To more easily develop the chatbot it would be great to have a testing framework. Maybe using `pytest` and something like [this approach](https://medium.com/@duketemon/how-to-test-a-telegram-bot-ba54eb1cadc0).

[2021-02-04 15:38] kumudchauhan commented on #3
This functionality has been implemented, closing the ticket.

[2021-02-04 15:38] #3 closed, assigned to kumudchauhan

[2021-02-04 15:39] kumudchauhan commented on #2
Implemented, hence closing this.

[2021-02-04 15:39] #2 closed, assigned to larryabim

[2021-02-04 15:41] kumudchauhan commented on #19
The codebase is setup and major refactoring has been done by Axel's PR. Hence closing this ticket.

[2021-02-04 15:41] #19 closed, assigned to kumudchauhan

[2021-02-04 15:41] kumudchauhan commented on #17
Implemented

[2021-02-04 15:41] #17 closed, assigned to larryabim

[2021-02-04 15:43] kumudchauhan commented on #5
Login Integration is completed. Signup is on to-do list.

[2021-02-04 15:43] kumudchauhan commented on #4
completed

[2021-02-04 15:43] #4 closed, assigned to kumudchauhan

[2021-02-04 15:49] kumudchauhan commented on #9
Signout flow is implemented using Signout button-through main menu.

[2021-02-04 15:49] #9 closed, assigned to nobody

[2021-02-04 15:50] kumudchauhan commented on #10
Implemented for signed users, hence closing this issue.

[2021-02-04 15:50] #10 closed, assigned to nobody

[2021-02-04 15:52] kumudchauhan commented on #5
This user story is not updated for signup.

[2021-02-04 15:53] kumudchauhan commented on #11
Anirudh was working on this story, as per our last meeting.

[2021-02-04 15:55] kumudchauhan commented on #13
Yes, I agree with Cami. "View my posts" is functional through the main menu workflow and we need to implement "Edit my post"

[2021-02-04 16:28] kumudchauhan commented on #12
This user story is not updated. Request help flow is implemented with /start command or using /mainmenu and a user can share the location and choose categories and we show the relevant posts based on their location and help category.

[2021-02-04 16:28] #12 closed, assigned to nobody

[2021-02-04 16:29] kumudchauhan commented on #16
Request help flow for different categories has been implemented.

[2021-02-04 16:29] #16 closed, assigned to nobody

[2021-02-04 16:30] kumudchauhan commented on #15
The user story is not updated but the Request help flow has been implemented and functional.

[2021-02-04 16:30] #15 closed, assigned to nobody

[2021-02-07 22:24] anushrik commented on #6
Create post with type of category, title and description of post for MVP

[2021-02-09 07:05] adorapham commented on #8
I will take this defect

[2021-02-25 13:24] AckslD opened #33 "Handle location in text form"
When the user replies to the question about location (either when creating a post or searching for post) they have the option to reply with a text message their location. We need to then parse this and lookup the actual location.

[2021-02-25 14:45] todo[bot] opened #34 "handle preview reply properly"
https://github.com/FightPandemics/FightPandemics-Telegram/blob/156d65946eaa3a643da65acb0f9e8d654d1b9a53/chatbot/app/handlers/create_post.py#L225-L230

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 156d65946eaa3a643da65acb0f9e8d654d1b9a53 when #32 was merged. cc @FightPandemics.

[2021-02-25 14:45] todo[bot] opened #35 "should add keyboard so user can edit or submit etc"
https://github.com/FightPandemics/FightPandemics-Telegram/blob/156d65946eaa3a643da65acb0f9e8d654d1b9a53/chatbot/app/handlers/create_post.py#L232-L237

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 156d65946eaa3a643da65acb0f9e8d654d1b9a53 when #32 was merged. cc @FightPandemics.

[2021-02-25 14:46] todo[bot] opened #36 "should then check if user wants to edit or submit"
https://github.com/FightPandemics/FightPandemics-Telegram/blob/156d65946eaa3a643da65acb0f9e8d654d1b9a53/chatbot/app/handlers/create_post.py#L235-L240

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 156d65946eaa3a643da65acb0f9e8d654d1b9a53 when #32 was merged. cc @FightPandemics.

[2021-02-25 14:46] todo[bot] opened #37 "handle error better"
https://github.com/FightPandemics/FightPandemics-Telegram/blob/156d65946eaa3a643da65acb0f9e8d654d1b9a53/chatbot/app/handlers/view.py#L36-L41

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 156d65946eaa3a643da65acb0f9e8d654d1b9a53 when #32 was merged. cc @FightPandemics.

[2021-02-25 14:46] todo[bot] opened #38 "we should lookup the location"
https://github.com/FightPandemics/FightPandemics-Telegram/blob/156d65946eaa3a643da65acb0f9e8d654d1b9a53/chatbot/app/handlers/post_utils.py#L112-L117

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 156d65946eaa3a643da65acb0f9e8d654d1b9a53 when #32 was merged. cc @FightPandemics.

[2021-02-25 14:46] todo[bot] opened #39 "should the length of this list really depend on what's in the json?"
https://github.com/FightPandemics/FightPandemics-Telegram/blob/156d65946eaa3a643da65acb0f9e8d654d1b9a53/chatbot/app/views.py#L38-L43

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 156d65946eaa3a643da65acb0f9e8d654d1b9a53 when #32 was merged. cc @FightPandemics.

[2021-02-25 14:46] todo[bot] opened #40 "not implemented yet"
https://github.com/FightPandemics/FightPandemics-Telegram/blob/156d65946eaa3a643da65acb0f9e8d654d1b9a53/tests/unit/conftest.py#L357-L362

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 156d65946eaa3a643da65acb0f9e8d654d1b9a53 when #32 was merged. cc @FightPandemics.

[2021-02-25 14:46] todo[bot] opened #41 "continue when full conversation implemented"
https://github.com/FightPandemics/FightPandemics-Telegram/blob/156d65946eaa3a643da65acb0f9e8d654d1b9a53/tests/unit/test_create_post.py#L97-L100

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 156d65946eaa3a643da65acb0f9e8d654d1b9a53 when #32 was merged. cc @FightPandemics.

[2021-02-25 14:50] AckslD commented on #6
Related issues
#41
#36
#35
#34

[2021-02-25 14:50] AckslD commented on #33
Related issues
#39
#38

[2021-02-26 04:14] adorapham opened #43 "chat bot handle multiple commands yield multiple results same times which should not"
Click on Create Post, i see request help and offer help
click on request help and see a list of categories
instead of selecting categories, I type mainmenu
and see the displaying message of mainmenu , following a list of categories
I think it should not displaying a list of categories if I type mainmenu.  It seems still carrying the previous command.    please check

https://user-images.githubuser

[2021-02-26 04:22] adorapham opened #44 "/start should have welcome message and email address should be replaced by username"
Evaluate - https://github.com/FightPandemics/FightPandemics-Telegram/pull/31-some might not correct, so developer can put the comment on.  I just copy from the slack and create a defect per request.
Passed- able to login and see view profile and see about FP.
Failed - email address should be replaced by username
/start - should have welcome message
Request Help /Offer Help/View My Posts no respons

[2021-02-26 07:55] AckslD opened #45 "Check mark for categories in front"
We now have check marks (🚀) after a category when a user selects it but it would be better to have it in front so that it is always visible, even if the category name is long.

[2021-03-01 09:23] #26 closed, assigned to nobody

[2021-03-01 09:23] #24 closed, assigned to nobody

[2021-04-15 13:42] AckslD commented on #11
I won't have time to work in this more unfortunately but the functionality is implemented in #42 which only needs to be reviewed.